<template>
  <b-container fluid class="px-0">
    <div class="category">
      <b-container>
        <b-row>
          <b-col cols="8">
            <CategoryNews
              :key="this.$route.fullPath"
              :link="link"
              :name="name"
              :lang="lang"
              :update-data="updateData"
            />
          </b-col>
          <b-col cols="4" />
        </b-row>
      </b-container>
    </div>
  </b-container>
</template>

<script>
import CategoryNews from "components/category/CategoryNews.vue";

export default {
  props: ["link", "name", "lang", "updateData"],
  name: "Category",
  components: {
    CategoryNews
  }
};
</script>
<style lang="sass" scoped>
.category
    background-color: #eeeeee
</style>