<template>
  <b-container class="my-2" style="max-width:800px">
    <div>
      <h1 class="text-center">
        マイページQ!
      </h1>
      <b-container class="relative my-2">
        <b-row>
          <b-img class="myImage-bg mx-auto" src="/image/haikei2.jpg" fluid alt="ユーザー背景"></b-img>
        </b-row>
        <b-row>
          <b-img class="myImage otoko absolute mx-auto" src="/image/me2.jpg" fluid alt="ユーザーイメージ"></b-img>
        </b-row>
      </b-container>
      <b-list-group>
        <b-list-group-item href="#" >◆ユーザー情報◆</b-list-group-item>
        <b-list-group-item href="#" v-model="user.name">{{ user.name }}</b-list-group-item>
        <b-list-group-item href="#" v-model="user.email">{{ user.email }}</b-list-group-item>
        <b-list-group-item href="#" v-if="user.age" v-model="user.age">{{ user.age }}</b-list-group-item>
        <b-list-group-item href="#" v-else>年齢</b-list-group-item>
        <b-list-group-item href="#" v-if="user.sex" v-model="user.sex">{{ user.sex }}</b-list-group-item>
        <b-list-group-item href="#" v-else>性別</b-list-group-item>
        <b-list-group-item href="#" v-if="user.job" v-model="user.job">{{ user.job }}</b-list-group-item>
        <b-list-group-item href="#" v-else>職業</b-list-group-item>
        <b-list-group-item href="#" v-model="user.created_at">作成日：{{ user.created_at }}</b-list-group-item>
      </b-list-group>

      <br>

      <div class="text-right">
        <b-button @click="modal = !modal" variant="info text-white">編集する</b-button>
      </div>


      <b-modal v-model="modal" title="マイページ編集" hide-footer>
        <form method="post" action="update" enctype="multipart/form-data" >
            <!-- <input type="hidden" name="_token" :value="csrf"> -->
            <input type="hidden" name="id" v-model="user.id">
            <template>

              <b-container fluid>
                <b-row class="my-1">
                  <b-col sm="3">
                    <label :for="`name`">名前：</label>
                  </b-col>
                  <b-col sm="9">
                    <b-form-input id="`name`" name="name" type="text" value="user.name" v-model="user.name" :state="true"></b-form-input>
                  </b-col>
                </b-row>
              </b-container>

              <b-container fluid>
                <b-row class="my-1">
                  <b-col sm="3">
                    <label :for="`sex`">性別：</label>
                  </b-col>
                  <b-col sm="9">
                    <b-form-select id="sex" name="sex" type="text" v-model="user.sex" :options="sexOption"></b-form-select>
                  </b-col>
                </b-row>
              </b-container>

              <b-container fluid>
                <b-row class="my-1">
                  <b-col sm="3">
                    <label :for="`age`">年齢：</label>
                  </b-col>
                  <b-col sm="9">
                    <b-form-select id="age" name="age" type="text" v-model="user.age" :options="ageOption"></b-form-select>
                  </b-col>
                </b-row>
              </b-container>

              <b-container fluid>
                <b-row class="my-1">
                  <b-col sm="3">
                    <label :for="`job`">ジョブ：</label>
                  </b-col>
                  <b-col sm="9">
                    <b-form-select id="job" name="job" type="text" v-model="user.job" :options="jobOption"></b-form-select>
                  </b-col>
                </b-row>
              </b-container>

              <b-container fluid>
                <b-row class="my-1">
                  <b-col sm="3">
                    <label :for="`email`">メール：</label>
                  </b-col>
                  <b-col sm="9">
                    <b-form-input id="`email`" name="email" type="email" v-model="user.email"></b-form-input>
                  </b-col>
                </b-row>
              </b-container>

              <b-container fluid>
                <b-row class="my-1">
                  <b-col sm="3">
                    <label :for="`image`"><span class="small">トップ画像：</span></label>
                  </b-col>
                  <b-col sm="9">
                    <b-form-file
                      v-model="user.image"
                      id="image"
                      name="image"
                      placeholder="画像を選んでください..."
                      drop-placeholder="ドロップしてください..."
                    ></b-form-file>
                  </b-col>
                </b-row>
              </b-container>
              <b-container fluid>
                <b-row class="my-1">
                  <b-col sm="3">
                    <label :for="`image`"><span class="small">背景画像：</span></label>
                  </b-col>
                  <b-col sm="9">
                    <b-form-file
                      v-model="user.image_bg"
                      id="image_bg"
                      name="image_bg"
                      placeholder="画像を選んでください..."
                      drop-placeholder="ドロップしてください..."
                    ></b-form-file>
                  </b-col>
                </b-row>
              </b-container>

              <b-container fluid>
                <b-row class="my-1">
                  <b-col sm="3">
                    <label :for="`created`">作成日：</label>
                  </b-col>
                  <b-col sm="9">
                    {{ user.created_at }}
                  </b-col>
                </b-row>
              </b-container>

            </template>

            <div class="modal-footer">
                <b-button type="button" class="" @click="modal = !modal" variant="outline-primary">閉じる</b-button>
                <b-button type="submit" class="" variant="success">保存する</b-button>
            </div>
          </form>
        </b-modal>
    </div>
  </b-container>
</template>

<script>
    export default {
      data () {
        return {
          user: {
            id: '',
            name: '',
            sex: '',
            age: '',
            job: '',
            image: null,
            image_bg: null,
            email: '',
            created_at: '',
          },
          modal: false,
          sexOption: [
            { value: '男性', text: '男性' },
            { value: '中性', text: '中性' },
            { value: '女性', text: '女性' },
          ],
          ageOption: [
            { value: 10, text: '10代' },
            { value: 20, text: '20代' },
            { value: 30, text: '30代' },
            { value: 40, text: '40代' },
            { value: 50, text: '50代' },
            { value: 60, text: '60代' },
            { value: 70, text: '70代' },
            { value: 80, text: '80代' },
          ],
          jobOption: [
            { value: 1, text: 'ボクシング' },
            { value: 2, text: 'キックボクシング' },
            { value: 3, text: '空手' },
            { value: 4, text: 'カンフー' },
            { value: 5, text: 'テコンドー' },
            { value: 6, text: '柔術' },
            { value: 7, text: '相撲' },
            { value: 8, text: 'レスリング' },
            { value: 9, text: '総合格闘技' },
            { value: 10, text: 'プロレス' },
            { value: 11, text: '剣道' },
            { value: 12, text: '弓道' },
            { value: 13, text: '侍' },
            { value: 14, text: '軍人' },
            { value: 15, text: 'その他' },
          ],

          // csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        }
      },
      computed: {

      },
      methods: {

      },
      created() {
          this.user = this.$store.getters['auth/user']
      }
    }
</script>

<style scoped>
.myImage-bg {
  height: 200px;
  width: 800px;
  border-radius: 5px;
  background-position: center center;
  object-fit: cover;
  z-index: 1;
}

.myImage {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  /* background-position: center center; */
  object-fit: cover;
  z-index: 10;
}

.relative {
    position: relative;
}
.absolute {
    position: absolute;
    left: 50px;
    top: 43px;
}

.otoko {
    border: solid 6px #fff;
}

.okama {
    border: solid 6px #a10ebe;
}

.josei {
    border: solid 6px #ee608a;
}

</style>