<template>
  <div class="app">
    <Navbar
      :lang="lang"
      :update-lang="updateLang"
    />
    <router-view
      :update-data="updateData"
      :lang="lang"
    />
  </div>
</template>

<script>
import Navbar from 'components/Navbar'

export default {
	components: {
		Navbar
	},
	data: () => ({
		recentlyViewedList: [],
		lang: "0"
	}),
	methods: {
		updateData(payload) {
			this.recentlyViewedList = [...this.recentlyViewedList, payload]
		},
		updateLang(lang) {
			this.lang = lang
		}
	}
}
</script>
<style lang="stylus" scoped>

</style>
